.blog-list {
  width: 50%;

  display: flex;
  flex-direction: column;
}

.blog {
  border: 1px solid black;
}

.blog-header {
  display: flex;
  background-color: antiquewhite;
  gap: 15px;
  padding: 5px 0 5px 10px;
}

.blog-header > .author-name {
  font-weight: bold;
  margin-right: 10px;
}

.blog-header > .created-at {
}

.blog-header > .rounded {
  font-size: 18px;
  padding: 2px 5px;
  border-radius: 10px;
}

.blog > .blog-content {
  display: block;
  padding: 10px;
  background-color: burlywood;
}

.blog > .blog-content:link,
.blog > .blog-content:visited {
  color: inherit;
  text-decoration: none;
}

.blog > .blog-content:hover {
  background-color: #ffc707;
  transition: all 100ms 0s ease;
}

.blog > .blog-content > .title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.blog > .blog-content > .content {
}
